/*url for the background image later*/
body{
    /*background-color: black;*/
    background-image: url('/images/space_background.png');
    background-size: cover;
    background-position: center;
    margin:0;
    background-attachment: fixed;
}

.flexParent {
    display: flex; /* Makes the element a flex container, enabling FlexBox layout */
    /*flex-direction: row;  Items will be laid out in a row */
    justify-content: center;
    height: 100%; /*Set the height to 100% to cover the parent container*/
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minimum width as needed */
    gap: 10px; /* Space between rows and columns */
    text-align: center; /* Center align the text */
  }

/* Applies styles to <span> elements */
.grid span {
    display: inline-block;
    width: 100%; 
    vertical-align: top; /* Aligns at the top */
  }

.mainContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%; /*50%*/
    left: 50%; /*50%*/
    margin: -50px 0 0 -50px; /* 50 0 -50 px*/
    text-align: center;
}

.input{
    height: 42px;
    width: 315px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin: 5px;
}

.centerButton{
    justify-content: center;
}

.buttonDesign {
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 85px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.buttonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.buttonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.profileButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.logOutButton {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 2%;
}


.searchContainer {
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-align: center;
    align-items: center;
    justify-content:center;
} 

.searchButton {
    position: absolute;
    right: 10px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    height: 30px;
    width: 100px;
    font-size:14px;
    color: white;
}

.searchButton:hover {
    background-color: transparent;
    color: grey;
}

.searchButton:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
}

h1{
    margin-bottom: 20px;
    position: relative;
    margin-top: 100px; /*höj om man vill centrera search bar mer*/
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

ul{
    color: white;
}

.searchResultsContainer {
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    color: aliceblue;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    width: 45%;
    margin: 0 auto;
}

/* informationView nedan _________________________________________________________________________________________*/
.viewParentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute columns with space in between */
    margin: 0px auto; /* Center the container horizontally */
}

.topInfoContainer{ /* Container for the location name and the been and want buttons*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    text-align: center;
    margin-top: 5px;
    flex-direction: column;
}
.locationAndButtonContainer{ /* Container for the location name and the been and want buttons*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    text-align: center;
    margin-top: 50px;
}

.location{ /*for the location since we can't use h1 for it*/
    font-size: 2em;
    font-weight: bold;
    margin: 10px  190px auto;
    position: relative;
    color: white;
}

.beenAndWantButtons{
    align-items: center;
    margin: 10px  190px auto;
}

.constellationsPosition{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

/*Weather View____________________*/
.weatherContainer{
    display: flex;
    height: 100%;
    width: 155px; /*precis så stor som en dags väder*/
    overflow-x: auto;
    overflow-y: hidden;
}

.bigWeatherContainer{
    width: 33%; /*precis så stor som en dags väder*/
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px auto; 
    padding: 0px auto;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

/*MoonView_______________________________*/
.moonContainer{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 33%;
    margin: 0px auto; 
    padding: 0px auto;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}
.moonInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
}
/*NewsView_____________________________*/
.localNews{
    display: flex;
    flex: 1;
    height: 450px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px auto; 
    padding: 0px auto;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    width: 20%;
}

.newsScroll{
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 70%;
    align-items: center;
}

/*Buttons____________________________________________________________________________________*/

.biggerButtonDesign{
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 37px;
    width: 150px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.biggerButtonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.biggerButtonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.biggerButtonDesign:first-child{
    margin-right: 10px;
}

.biggerButtonDesign:last-child{
    margin-left: 10px;
}

.backToSearchButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 2%;
}

/*All constellations____________________________________________________________________________________________*/

.constellationsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute columns with space in between */
    align-items: center; /* Center vertically if needed */
    margin: 55px auto 15px auto; /* top right bottom left */
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    height: 500px;
}

.constellationDisplay{
    width: calc(14% - 30px); /* Fixed width for each column */
    height: 150px; 
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}


/*Profile view________________________________________________________________________________________________ */
a{
    color: whitesmoke;
}

.xButton{
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 1px solid whitesmoke;
    margin-right: 10px; /* Adjust the margin as needed */
}


.xButton:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.xButton:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.profileContainerParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute columns with space in between */
    margin: 0px auto;
    column-gap: 20px;
}

.profileContainer{
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    color: aliceblue;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: left;
    margin: 5px 5px; 
    padding: 5px 5px;
}

.iHaveSeenButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
}

/* Login view __________________________________________________________________________________________________*/

.logo{
    width: 700px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container, 'vh' is viewport height */
    margin-top: -90px;
}

.centerContent{
    text-align: center;
    margin-top: -20%;
}

.loginContainer {
    top: 50%;
    left: 50%;
    margin: auto;
    margin-top: -35%;  
}


/* Media query for narrow screens ___________________________________________________________________________*/
@media (max-width: 500px) { /* Adjust the max-width value based on our design */

    .debug {
        border-style: solid;
    }
    
    .flexParent {
        flex-direction: column;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      }
  }

  
  
  /* Scrollbar customization______________________________________________________________________*/
  .searchResultsContainer::-webkit-scrollbar,
  .weatherContainer::-webkit-scrollbar,
  .newsScroll::-webkit-scrollbar,
  .constellationsContainer::-webkit-scrollbar, 
  .profileContainer::-webkit-scrollbar {
      width: 20px;
  }
  
  .searchResultsContainer::-webkit-scrollbar-track,
  .weatherContainer::-webkit-scrollbar-track,
  .newsScroll::-webkit-scrollbar-track,
  .constellationsContainer::-webkit-scrollbar-track, 
  .profileContainer::-webkit-scrollbar-track {
      background-color: transparent;
  }
  
  .searchResultsContainer::-webkit-scrollbar-thumb,
  .weatherContainer::-webkit-scrollbar-thumb,
  .newsScroll::-webkit-scrollbar-thumb,
  .constellationsContainer::-webkit-scrollbar-thumb,
  .profileContainer::-webkit-scrollbar-thumb {
      background-color: rgb(77, 181, 210);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
  }
  
  .searchResultsContainer::-webkit-scrollbar-thumb:hover,
  .weatherContainer::-webkit-scrollbar-thumb:hover,
  .newsScroll::-webkit-scrollbar-thumb:hover,
  .constellationsContainer::-webkit-scrollbar-thumb:hover,
  .profileContainer::-webkit-scrollbar-thumb:hover {
      background-color: rgb(93, 142, 206);
  }



/* new more compact way of doing shit
in view:
<div class="parent-class my-specific-style">
    <!-- Content -->
</div>

/* CSS */
/*.parent-class {
    /* General styles 
}*/

/*.my-specific-style {
    /* Additional or modified styles 
}*/