/*Applies to entire webpage____________________________________________________*/

body{
    /*background-color: black;*/
    background-image: url('/images/space_background.png');
    background-size: cover;
    background-position: center;
    margin:0;
    background-attachment: fixed;
}

.profileButton {
    /*Placement for profile button*/
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.logOutButton {
    /*Placement for logOut button button*/
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 2%;
}

.backToSearchButton {
    /*Placement for back to search button*/
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 2%;
}

.flexParent {
    /*används i root - påverkar profile view och search results view*/
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.mainContent {
    /*Används i root*/
    align-items: center;
}

h1{
    margin-bottom: 20px;
    position: relative;
    margin-top: 100px; /*höj om man vill centrera search bar mer*/
}

h2, h3, p, ul, a, h1, .input, 
.searchResultsContainer, .buttonDesign {
    /*text colour*/
    color: white;
}

/* SearchResultsView & SearchFormView _________________________________________________________*/

.input{
    /*Används för input i SearchFormView*/
    height: 42px;
    width: 315px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: 5px;
}

.centerButton{
    /*SearchFormView*/
    justify-content: center;
}

.searchContainer {
    /*ConstellationView and SearchFormView -- applicera ParentContainer*/
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-align: center;
    align-items: center;
    justify-content:center;
}

.searchResultsContainer {
    /*searchResultView -- applicera ParentContainer?*/
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    width: 45%;
    margin: 0 auto;
}

/* informationView ___________________________________________________________________________*/

.topInfoContainer{ /* Container for the location name and the been and want buttons*/
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: column;
}

.location{ /*for the location since we can't use h1 for it*/
    font-size: 2em;
    font-weight: bold;
    margin: 10px  190px auto;
    position: relative;
    color: white;
}

.beenAndWantButtons{
    align-items: center;
    margin: 10px  190px auto;
}

.constellationsPosition{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

/*WeatherView____________________*/
.weatherContainer{
    display: flex;
    height: 100%;
    width: 155px; /*precis så stor som en dags väder*/
    overflow-x: auto;
    overflow-y: hidden;
}

.bigWeatherContainer{
    width: 33%; /*precis så stor som en dags väder*/
    justify-content: center;
    padding: 0px auto;
}

/*MoonView_______________________________*/
.moonContainer{
    justify-content: center;
    height: 33%;
    width: 33%;
    padding: 0px auto;
}

.moonInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
}
/*NewsView_____________________________*/
.ParentContainer.newsContainer{
    height: 450px;
    flex-direction: column;
    justify-content: center;
    padding: 0px auto;
    width: 20%;
    flex-wrap: nowrap;
}

.newsScroll{
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 70%;
    align-items: center;
}

/*All constellations____________________________________________________________________________________________*/

.ParentContainer.constellationsContainer{
    justify-content: space-between; /* Distribute columns with space in between */
    margin: 55px auto 15px auto; /* top right bottom left */
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    height: 500px;
}

.constellationDisplay{
    width: calc(14% - 30px); /* Fixed width for each column */
    height: 150px; 
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

/*Profile view________________________________________________________________________________________________ */

.xButton{
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 1px solid whitesmoke;
    margin-right: 10px; /* Adjust the margin as needed */
}

.xButton:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.xButton:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.ParentContainer.profileContainerParent{
    justify-content: space-between; /* Distribute columns with space in between */
    column-gap: 20px;
}

.profileContainer{
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    color: aliceblue;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: left;
    margin: 5px 5px; 
    padding: 5px 5px;
}

.iHaveSeenButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
}

/* LoginView __________________________________________________________________________________________________*/

.logo{
    width: 700px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
}

.logoContainer{
    /*ParentContainer?*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container, 'vh' is viewport height */
    margin-top: -90px;
}

.centerContent{
    text-align: center;
    margin-top: -20%;
}

.loginContainer {
    top: 50%;
    left: 50%;
    margin: auto;
    margin-top: -35%;  
}

/* Constellation View________________________________________________________________________________________*/
.constellationDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Horizontal layout */
    margin-top: 20px; /* Adjust the margin as needed */
}

.constellationImageContainer {
    max-width: 50%; /* Adjust the maximum width of the image container */
}

.starsIncludedContainer {
    max-width: 50%; /* Adjust the maximum width of the stars included container */
    padding-left: 20px; /* Add some padding for separation */
    width: 30%;
    margin-top: -10%;
    text-align: center;
}

/* Media query for narrow screens ___________________________________________________________________________*/
@media (max-width: 500px) { /* Adjust the max-width value based on our design */

    .debug {
        border-style: solid;
    }
    
    .flexParent {
        flex-direction: column;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      }
}

/*ParentContainer_________________________________________________________________*/

.ParentContainer {
    /*Används i InformationPresenter, InformationView
    weatherView, moonView, newsView, allConstallationsView,
    profileView.*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex: 1;
    box-sizing: border-box;
    margin: 0px auto;
}
  
/* Scrollbar______________________________________________________________________*/
.searchResultsContainer::-webkit-scrollbar,
.weatherContainer::-webkit-scrollbar,
.newsScroll::-webkit-scrollbar,
.constellationsContainer::-webkit-scrollbar, 
.profileContainer::-webkit-scrollbar {
    width: 20px;
}

.searchResultsContainer::-webkit-scrollbar-track,
.weatherContainer::-webkit-scrollbar-track,
.newsScroll::-webkit-scrollbar-track,
.constellationsContainer::-webkit-scrollbar-track, 
.profileContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.searchResultsContainer::-webkit-scrollbar-thumb,
.weatherContainer::-webkit-scrollbar-thumb,
.newsScroll::-webkit-scrollbar-thumb,
.constellationsContainer::-webkit-scrollbar-thumb,
.profileContainer::-webkit-scrollbar-thumb {
    background-color: rgb(77, 181, 210);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.searchResultsContainer::-webkit-scrollbar-thumb:hover,
.weatherContainer::-webkit-scrollbar-thumb:hover,
.newsScroll::-webkit-scrollbar-thumb:hover,
.constellationsContainer::-webkit-scrollbar-thumb:hover,
.profileContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(93, 142, 206);
}

/*Button Design_______________________________________________________*/
.buttonDesign {
    /*Överallt*/
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 85px;
    font-size:14px;
    border: 2px solid whitesmoke;
}

.buttonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.buttonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.biggerButtonDesign{
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 37px;
    width: 150px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.biggerButtonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.biggerButtonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.biggerButtonDesign:first-child{
    margin-right: 10px;
}

.biggerButtonDesign:last-child{
    margin-left: 10px;
}


