/*Applies to entire webpage____________________________________________________*/

body{
    /*Placement of background image*/
    background-image: url('/images/space_background.png');
    background-size: cover;
    background-position: center;
    margin:0;
    background-attachment: fixed;
}

.profileButton {
    /*Placement for profile button*/
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.logOutButton {
    /*Placement for logOut button button*/
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 2%;
}

.backToSearchButton {
    /*Placement for back to search button*/
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 2%;
}

.flexParent {
    /* is used root - affects profile view and search results view*/
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.mainContent {
    /*Is used in root*/
    align-items: center;
}

h1{
    /*Styling of header*/
    margin-bottom: 20px;
    position: relative;
    margin-top: 100px; /*höj om man vill centrera search bar mer*/
}

h2, h3, p, ul, a, h1, .input, 
.searchResultsContainer, .buttonDesign {
    /*text colour*/
    color: white;
}

/* SearchResultsView & SearchFormView _________________________________________________________*/

.input{
    /*Search Bar*/
    height: 42px;
    width: 315px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: 5px;
}

.centerButton{
    /*Placement of the Search Bar and Search Button*/
    justify-content: center;
}

.searchContainer {
    /*Container for the header and search bar */
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-align: center;
    align-items: center;
    justify-content:center;
}

.searchResultsContainer {
    /*Container for the rendering of search results*/
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    width: 410px;
    margin: 0 auto;
}

/* informationView ___________________________________________________________________________*/

.topInfoContainer{ 
    /* Container for the location name and the been and want buttons*/
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: column;
}

.location{ 
    /*for the location since we can't use h1 for it*/
    font-size: 2em;
    font-weight: bold;
    margin: 10px  190px auto;
    position: relative;
    color: white;
}

.beenAndWantButtons{
    /* Placement of the "I have been" and "I want to go" buttons */
    align-items: center;
    margin: 10px  190px auto;
}

.constellationsPosition{
    /* Placement of the "Find Constellations" button*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.boarderAndStackable{
    /* Creates border around the widgets in information view */
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 10px;
}

/*WeatherView____________________*/
.boarderAndStackable.weatherContainer{
    /* Weather Container for the three days */
    display: flex;
    height: 100%;
    width: 230px; /*precis så stor som en dags väder*/
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 2px;
    padding: 18px;
}

.bigWeatherContainer{
    /* Includes the header as well*/
    flex:1;
    width: 33%; /*precis så stor som en dags väder*/
    justify-content: center;
}

/*MoonView_______________________________*/
.moonContainer{
    /*Container for the Moon Phase*/
    flex:1;
    justify-content: center;
    height: 33%;
    width: 33%;
    padding: 0px auto;
}

.boarderAndStackable.moonInformation{
    /* Styling for the information */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
}
/*NewsView_____________________________*/
.ParentContainer.newsContainer{
    /* Container for the local news */
    flex:1;
    height: 458px;
    flex-direction: column;
    justify-content: center;
    padding: 0px auto;
    width: 20%;
    flex-wrap: nowrap;
}

.boarderAndStackable.newsScroll{
    /* Styling for the news information*/
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 70%;
    align-items: center;
    margin-top: -3px;
}

.moreInformation{
    /* Font size for the hyperlink "More Information" */
    font-size: 20px;
}

/*All constellations____________________________________________________________________________________________*/

.ParentContainer.constellationsContainer{
    /* Container for the all of the constellations */
    justify-content: space-between; /* Distribute columns with space in between */
    margin: 55px auto 15px auto; 
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    height: 500px;
}

.constellationDisplay{
    /* Styling for the display of the constellations */
    width: calc(14% - 30px); /* Fixed width for each column */
    height: 150px; 
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

/*Profile view________________________________________________________________________________________________ */

.xButton{
    /* Styling of the X button that is positioned
    next to the city the user has added to their profile */
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 1px solid whitesmoke;
    margin-right: 10px; 
}

.xButton:hover {
    /* Making the X button hoverable */
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.xButton:active {
    /* How the button looks when clicking on it */
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.ParentContainer.profileContainerParent{
    /* Container for the profile and the three boxes */ 
    justify-content: space-between; /* Distribute columns with space in between */
    column-gap: 20px;
    text-align: center;
    margin: 0px 100px;
}

.profileContainer{
    /* Container for one box in the profile */
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    color: aliceblue;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: left;
    margin: 5px 5px; 
    padding: 5px 5px;
    text-align: left;
}

.iHaveSeenButton{
    /* Styling for the "I have seen this in..." Button*/
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
}

.padding{
    /* Padding Styling */
    padding-bottom: 7px;
}

/* LoginView __________________________________________________________________________________________________*/

.logo{
    /* Adjustment */
    width: 700px; 
    height: auto; /* Maintaining the aspect ratio */
}

.logoContainer{
    /* Styling for the Logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container, 'vh' is viewport height */
    margin-top: -90px;
}

.centerContent{
    /* Center Styling */
    text-align: center;
    margin-top: -20%;
}

.loginContainer {
    /* Placement of the Sign in Button*/
    top: 50%;
    left: 50%;
    margin: auto;
    margin-top: -35%;  
}

/* Constellation View________________________________________________________________________________________*/
.constellationDetailsContainer {
    /* Container for the Constellation Details - image and information */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Horizontal layout */
    margin-top: 20px; 
}

.constellationImageContainer {
    /* Seperate container for the image */
    max-width: 50%; 
}

.starsIncludedContainer {
    /* Seperate container for the information on Stars Included */
    max-width: 50%; 
    padding-left: 20px; /* Some padding for separation */
    width: 30%;
    margin-top: -10%;
    text-align: center;
}

/* Media query for narrow screens ___________________________________________________________________________*/
@media (min-width: 350px) { /* Adjust the max-width value based on our design */

    .debug {
        border-style: solid;
    }
    
    .flexParent {
        flex-direction: column;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      }

}

@media(max-width: 400px){ /*For mobile screens*/
    .constellationDisplay{
        width: calc(50% - 20px); /* Three columns per row for medium screens */
    }

    .boarderAndStackable{
        width: calc(100% - 20px); /* Three columns per row for medium screens */
    }

}


/*ParentContainer_________________________________________________________________*/

.ParentContainer {
    /*Is used in InformationPresenter, InformationView
    weatherView, moonView, newsView, allConstallationsView,
    profileView.*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex: 1;
    box-sizing: border-box;
    margin: 0px auto;
}
  
/* Scrollbar______________________________________________________________________*/
.searchResultsContainer::-webkit-scrollbar,
.weatherContainer::-webkit-scrollbar,
.newsScroll::-webkit-scrollbar,
.constellationsContainer::-webkit-scrollbar, 
.profileContainer::-webkit-scrollbar {
    width: 20px;
}

.searchResultsContainer::-webkit-scrollbar-track,
.weatherContainer::-webkit-scrollbar-track,
.newsScroll::-webkit-scrollbar-track,
.constellationsContainer::-webkit-scrollbar-track, 
.profileContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.searchResultsContainer::-webkit-scrollbar-thumb,
.weatherContainer::-webkit-scrollbar-thumb,
.newsScroll::-webkit-scrollbar-thumb,
.constellationsContainer::-webkit-scrollbar-thumb,
.profileContainer::-webkit-scrollbar-thumb {
    background-color: rgb(77, 181, 210);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.searchResultsContainer::-webkit-scrollbar-thumb:hover,
.weatherContainer::-webkit-scrollbar-thumb:hover,
.newsScroll::-webkit-scrollbar-thumb:hover,
.constellationsContainer::-webkit-scrollbar-thumb:hover,
.profileContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(93, 142, 206);
}

/*Button Design_______________________________________________________*/
.buttonDesign {
    /*Overall button design*/
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 85px;
    font-size:14px;
    border: 2px solid whitesmoke;
}

.buttonDesign:hover {
    /* Making the button hover*/
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.buttonDesign:active {
    /* How the button looks when actively clicked */
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.biggerButtonDesign{
    /* A bigger button design */
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 45px;
    width: 150px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.biggerButtonDesign:hover {
    /* Making the button hover*/
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.biggerButtonDesign:active {
    /* How the button looks when actively clicked */
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.biggerButtonDesign:first-child{
    /* Margin from the right */
    margin-right: 10px;
}

.biggerButtonDesign:last-child{
    /* Margin from the left*/
    margin-left: 10px;
}
.biggerButtonDesign.disabled:disabled{
    /* Disable button*/
    cursor: not-allowed;
    width: 150px; /* fixed width for the disabled state */
    opacity: 0.5;
    transform: none; 
}