/* css */


.debug {
    border-style: solid;
}

/*url for the background image later*/
body{
    background-image: url('src/space_background.png');
    /*background-color: aqua;*/
    background-size: cover;
    background-position: center;
    margin:0;
}


.flexParent {
    display: flex; /* Makes the element a flex container, enabling FlexBox layout */
    flex-direction: row; /* Items will be laid out in a row */
    height: 100%; /*Set the height to 100% to cover the parent container*/
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minimum width as needed */
    gap: 10px; /* Space between rows and columns */
    text-align: center; /* Center align the text */
  }

/* Applies styles to <span> elements */
.grid span {
    display: inline-block;
    width: 100%; 
    vertical-align: top; /* Aligns at the top */
  }

.mainContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%; /*50%*/
    left: 50%; /*50%*/
    margin: -50px 0 0 -50px; /* 50 0 -50 px*/
    text-align: center;
} 

  


.loginContainer {
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    
}

.input{
    height: 25px;
    width: 200px;
    font-size: 16px;
    border-style: solid;
    border-color: pink;
    margin: 5px;
}

.centerButton{
    justify-content: center;
}

.buttonDesign {
    transition-duration: 0.4s;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: pink;
    border-radius: 12 px;
    height: 50px;
    width: 100px;
    font-size:14px;
}

.buttonDesign:hover {
    background-color: palevioletred;
    color:white;
    border: 2 px solid pink;
    border-radius: 12 px;
}

.buttonDesign:active {
    background-color: palevioletred;
    box-shadow: 0 5px;
    transform: translateY(4px);
    border-radius: 12 px;
}

.profileButton {
    position: absolute;
    top: 0;
    right: 0;
}

.searchContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    top: 0; /*50%*/
    left: 0; /*50%*/
    margin: 0; /* 50 0 -50 px*/
    text-align: center;
    align-items: center;
    justify-content:center;
} 

h1{
    margin-bottom: 100px;
    position: relative;
    margin-top: -100px;

}

/* Media query for narrow screens */
@media (max-width: 500px) { /* Adjust the max-width value based on our design */

    .debug {
        border-style: solid;
    }
    
    .flexParent {
        flex-direction: column;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      }
  }