/* css */


.debug {
    border-style: solid;
}

/*url for the background image later*/
body{
    background-image: url('src/space_background.png');
    background-size: cover;
    background-position: center;
    margin:0;
    background-attachment: fixed;
}


.flexParent {
    display: flex; /* Makes the element a flex container, enabling FlexBox layout */
    /*flex-direction: row;  Items will be laid out in a row */
    justify-content: center;
    height: 100%; /*Set the height to 100% to cover the parent container*/
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minimum width as needed */
    gap: 10px; /* Space between rows and columns */
    text-align: center; /* Center align the text */
  }

/* Applies styles to <span> elements */
.grid span {
    display: inline-block;
    width: 100%; 
    vertical-align: top; /* Aligns at the top */
  }

.mainContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%; /*50%*/
    left: 50%; /*50%*/
    margin: -50px 0 0 -50px; /* 50 0 -50 px*/
    text-align: center;
} 

.loginContainer {
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;  
}

.input{
    height: 30px;
    width: 315px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin: 5px;
}

.centerButton{
    justify-content: center;
}

.buttonDesign {
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 37px;
    width: 75px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.buttonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.buttonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.profileButton {
    position: absolute;
    top: 0;
    right: 0;
}

.logOutButton {
    position: absolute;
    bottom: 0;
    left: 0;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-align: center;
    align-items: center;
    justify-content:center;
} 

.searchButton {
    position: absolute;
    right: 10px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    height: 30px;
    width: 100px;
    font-size:14px;
    color: white;
}

.searchButton:hover {
    background-color: transparent;
    color: grey;
}

.searchButton:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
}

h1{
    margin-bottom: 20px;
    position: relative;
    margin-top: 100px; /*höj om man vill centrera search bar mer*/
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

ul{
    color: white;
}

.searchResultsContainer {
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    color: aliceblue;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    width: 45%;
    margin: 0 auto;
}

.searchResultsContainer::-webkit-scrollbar{
    width: 20px;
}

.searchResultsContainer::-webkit-scrollbar-track{
    background-color: transparent;
}

.searchResultsContainer::-webkit-scrollbar-thumb{
    background-color: rgb(77, 181, 210);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.searchResultsContainer::-webkit-scrollbar-thumb:hover{
    background-color: rgb(93, 142, 206);
}

/* informationView nedan _________________________________________________________________________________________*/
.biggerButtonDesign{
    transition-duration: 0.4s;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    height: 37px;
    width: 150px;
    font-size:14px;
    color: white;
    border: 2px solid whitesmoke;
}

.biggerButtonDesign:hover {
    background-color: transparent;
    color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

.biggerButtonDesign:active {
    background-color: transparent;
    box-shadow: 0 2px;
    transform: translateY(4px);
    border-radius: 5px;
}

.moonContainer{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 33%;
    float: center;
}

.moonInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
}

.weatherContainer{
    display: flex;
    height: 100%;
    width: 155px; /*precis så stor som en dags väder*/
    overflow-x: auto;
    overflow-y: hidden;
}

.bigWeatherContainer{
    width: 33%; /*precis så stor som en dags väder*/
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left; /* Aligns container next to moon */
}

.constellationsPosition{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.localNews{
    border: 2px solid #ccc;
    display: flex;
    flex: 1;
    height: 400px;
    width: 33%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: right;
}

.newsScroll{
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
    width: 50%;
    align-items: center;
}

.backToSearchButton {
    position: absolute;
    top: 0;
    left: 0;
}

.beenAndWantButtons{
    margin-top: 70px;
    margin-bottom: -50px;
}


/*All constellations____________________________________________________________________________________________*/

.constellationsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute columns with space in between */
    margin: 0 auto; /* Center the container horizontally */
}

.constellationDisplay{
    width: calc(33.33% - 20px); /* Fixed width for each column */
    height: 150px; 
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}



/* Media query for narrow screens */
@media (max-width: 500px) { /* Adjust the max-width value based on our design */

    .debug {
        border-style: solid;
    }
    
    .flexParent {
        flex-direction: column;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      }
  }